a{
    color: white;
}

.navBackground{
    background-color: white;
}

.navHamburger{
    background-color: black;
}

.navButton {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-bottom: -4px;
    margin-top: -4px;
  }

  .navButton:hover{
      background-color: black;
      color: white;
  }